<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                <!-- header-logo -->
                <div class="header-logo">
                    <a href="index.html"><img src="~/theme/images/logo_1.png" style="width: auto; height: 48px; object-fit: contain;" alt="Wedding Vendor & Supplier Directory HTML Template "></a>
                </div>
                <!-- /.header-logo -->
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <!-- navigations -->
                <div id="navigation">
                    <ul>
                        <li>
                            <a href="/" title="#">Home</a>
                        </li>
                        <li>
                            <a href="#" title="#">Vendors</a>
                        </li>
                        <li>
                            <a href="#" title="#">Suppliers</a>
                            <ul>
                                <li><a href="supplier-dresses-list.html" title="">Dresses</a></li>
                                <li><a href="supplier-cake-list.html" title="">Cakes</a></li>
                                <li><a href="supplier-florist-list.html" title="">Florist</a></li>
                                <li><a href="supplier-photographer-list.html" title="">Photographers</a></li>
                                <li><a href="supplier-videographer-list.html" title="">Videographer</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="#">Real Weddings</a>
                        </li>
                        <li>
                            <a href="#" title="#">Blog</a>
                        </li>
                        <li>
                            <a href="#" title="#">About us</a>
                        </li>
                        <li>
                            <a href="#" title="">User Panel</a>
                            <ul>
                                <li>
                                    <a href="#" title="">Vendor Dashboard</a>
                                <li>
                                    <a href="#" title="">Couple Dashboard</a>
                                </li>
  
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navigations -->
            </div>
            <div class="col-xl-2 col-lg-2 text-right col-md-2 col-sm-12 col-12 d-none d-xl-block d-lg-block">
                <!-- header-btn -->
                <div class="header-btn">
                    <a href="couple-form.html" class="btn btn-primary btn-sm">Login</a>
                </div>
                <!-- /.header-btn -->
            </div>
        </div>
    </div>
</div>